# Ignore the saved models
models/
results/
results_pathwise/
old_results/
old_logs/
logs/
misc_plots/
results_annealing/
results_annealing_exp/
results_search/

# Ignore the bkse, motionblur
bkse/
motionblur/
results_ood/